<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quatz2DBasic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C064E37A1D11A4A800442DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C064E3931D11A4A900442DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C064E39E1D11A4A900442DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
